@import url(https://fonts.googleapis.com/css2?family=Poppins);
@import url(https://fonts.googleapis.com/css2?family=Recursive);

body {
  background-color: #232830;
  font-size: 24px;
  font-family: "Poppins";
  font-weight: 400;
  margin: 0;
}

body>* {
  padding: 0 222px 0;
}

header {
  display: flex;
  flex-direction: column;
  color: white;
  border-bottom: 3px solid #4D4D4D;
  padding-bottom: 100px;
}

.head {
  margin: 75px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.head>div {
  display: flex;
  justify-content: space-between;
}

.head>div>p {
  margin-left: 36px;
}

.foot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 400px;
}

.foot>* {
  margin: 0;
}

.foot img {
  max-width: 200px;
}

.foot>*:nth-child(2) {
  font-family: "Recursive";
  font-style: italic;
  font-size: 71px;
  font-weight: 400;
  color: #FF7575;
  margin: 40px 0 20px;
}

.foot>*:nth-child(3) {
  font-size: 29px;
}