@import url(https://fonts.googleapis.com/css2?family=Poppins);
@import url(https://fonts.googleapis.com/css2?family=Recursive);

body {
  background-color: #232830;
  font-size: 24px;
  font-family: "Poppins";
  font-weight: 400;
  margin: 0;
}

body>* {
  padding: 0 222px 0;
}

header {
  display: flex;
  flex-direction: column;
  color: white;
  border-bottom: 3px solid rgba(77, 77, 77, .2);
  padding-bottom: 100px;
}

#head {
  margin: 75px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#head>div {
  display: flex;
  justify-content: space-between;
}

#head>div>p {
  margin-left: 36px;
}

#foot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 400px;
}

#foot>* {
  margin: 0;
}

#foot img {
  max-width: 200px;
}

#foot>*:nth-child(2) {
  font-family: "Recursive";
  font-style: italic;
  font-size: 71px;
  font-weight: 400;
  color: #FF7575;
  margin: 40px 0 20px;
  text-wrap: wrap;
}

#foot>*:nth-child(3) {
  font-size: 29px;
}

#listing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 95px;
  /* padding-top: 20px;
  padding-bottom: 20px; */
}

#listing-display {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

#listing-display>* {
  margin: 0 5px;
  width: 24px;
}

/* TODO: make the categories scroll with just mouse wheel */
#listing-categories {
  display: flex;
  flex-direction: row;
  font-family: "Recursive";
  font-style: italic;
  font-size: 27px;
  color: #909090;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;

  /* transform: rotate(-90deg);
  transform-origin: right top; */
}

#listing-categories>* {
  padding: 16px 18px;
  /* transform: rotate(90deg);
  transform-origin: right top; */
}

/*  */
#post-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post {
  position: relative;
  background-color: white;
  border: 1px solid #252930;
  font-size: 16px;
  border-radius: 22px;
  height: 415px;
  width: 340px;
  padding: 25px;
  color: #0F1217;
  margin: 18.5px;
}

.post>img {
  width: 340px;
  /* 340 */
  height: 160px;
  border-radius: 26px;
  object-fit: cover;
}

.post>h1 {
  font-weight: 600;
  font-size: 19px;
  margin: 30px 0px 13px;
}

.post-foot {
  position: absolute;
  bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dot {
  width: 4px;
  height: 3px;
  border-radius: 50%;
  background-color: #0F1217;
  margin: 0 20px;
}

#pagination {
  margin-top: 96.5px;
  display: flex;
  justify-content: center;
  font-family: 'Recursive';
  color: #909090;
  font-size: 25px;
  font-style: italic;
  align-items: center;
}

#pagination>.pages {
  display: flex;
  flex-direction: row;
  margin: 0 17px;
  text-align: center;
}

#pagination>p {
  margin: 0;
}

#pagination>.pages>p {
  justify-content: center;
  padding: 17px;
}

#pagination>.pages :nth-child(2) {
  border-top: 3px solid #FF7575;
  color: #FF7575;
  font-weight: bolder;
  padding-top: 14px;
}